.bodyContainer{
    width: 100%;
    height: 100%;
    display: flex;    
    flex-direction: column;
    justify-content: center;
}
.HomeContainer{
  width: 742px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
.HomeContainer .scheduleTab{
  width: 95%;
  display: flex;
  flex-direction: row;
  gap: 2%;
  padding: 0.7% 0px;  
  background-color: #f9fbff;
  border-radius: 2%;
  margin-bottom: 2%;
}
.HomeContainer .menuTab{
  padding: 0.7% 0.7%;
  cursor: pointer;
  margin-left: 1.2%;
  display: flex;
  gap: 3%;
}
.HomeContainer .menuTab:hover{
      background-color: #38c0e9;
      color: #fefefe;
      border-radius: 10px;
}
.container.col{
    flex-direction: column;
}
.container{
    display: flex;
}
.contentBox {
  display: flex;
  flex-direction: column;
}
.matchCard {
  width: 94%;
  position: relative;
  background: #f9fbff;
  border-radius: 16px;
  padding: 10px;
  margin: 12px 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

/* ✅ hover 효과 */
.matchCard:hover {
  transform: scale(1.001);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

/* 배경 이미지 */
.teamBg {
      position: absolute;
    top: -22%;
    width: 28%;
    height: 140%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.38;
    z-index: 0;
    pointer-events: none;

  /* ✅ 이벤트 통과시키기 */
  pointer-events: none;
}

.teamBg.left {
  left: -2%;
}

.teamBg.right {
  right: -2%
}


.matchTime {
  font-size: 0.9rem;
  color: #444444;
  position: absolute;
  bottom: 0;

}
 .matchInfo {
  display: flex;
  position: relative;
  width: 73%;
  justify-content: space-between;
  align-items: center;
  gap:15px;
}

.teamLogo{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.teamName{
    font-weight: 500;
    font-size: 1.2rem;
}
.scoreBox{
    height: 100%;
    display: flex;
    position: absolute;
    top: 0%;
    left: 50%;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
 .scoreText{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.widgetTabToggle {
  display: flex;
  justify-content: center;
  background-color: #f0f2f5;
  border-radius: 9999px;
  padding: 4px;
  width: fit-content;
  margin: 0 auto 20px auto;
}
.widgetTab {
  padding: 10px 24px;
  border: none;
  background: transparent;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 600;
  color: #999;
  cursor: pointer;
  transition: all 0.3s;
}
.widgetTab.active {
  background-color: #38c0e9;
  color: white;
}
.widgetBox{
  position: relative;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  margin: 10px 0;
  width: 100%;
  background: #ededed;
}
.closeBtn {
  position: absolute;
  right: 12px;
  top: 8px;
  font-size: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.calendarBox{

}
.feedContainer {
  margin-top: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 10px;
  background-color: #ededed;
}
.feedCard {
  background: #fff;
  padding: 14px;
  border-radius: 10px;
  width: 92%;
}
.calendarLayout {
  display: flex;
  gap: 24px;
  padding: 16px;
  background: #f9f9f9;
  border-radius: 12px;
}

.calendarLeft {
  flex: 1.5;
}

.calendarRight {
  flex: 1;
  width: 289px;
  background: white;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.calendarRight h3 {
  margin-bottom: 12px;
}

.matchList {
  list-style: none;
  padding-left: 0;
}

.matchList li {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
}

.matchTitle {
  font-weight: bold;
}

.matchTime {
  display: flex;
  font-size: 14px;
  color: gray;
  justify-content: center;
  align-self: center;
  position: absolute;
  top: 50px;
  left: 50%;
}
.dateHeader{
  margin-top: 10px;
  font-weight: bold;
}

.leagueTitle{
  height: 30px;
  display: flex;
  align-items: center;
}

.leagueLogo{
  margin-right: 10px;
  width: 5%;
  height: 100%;;
}
.fc-event {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}
.fc-event a {
  text-decoration: none !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.calLogo {
  width: 16px;
  height: 16px;
  margin-left:3px;
  border-radius: 50%;
  margin-right: 3px;
  object-fit: contain;
  display: inline-block;
  pointer-events: none;
}
