.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  width: 100vw;
}

.sidebar .homeLogo{
    width: 50px;
    height: 50px;
    object-fit: contain;
    cursor: pointer;
    
}
.top-section,
.bottom-section {
  display: flex;
  gap: 20px;
}

.tabIcon {
  padding: 10px;
  border-radius: 12px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.tabIcon:hover {
  background-color: #e6e6e6;
}

.tabItem {
  width: 24px;
  height: 24px;
  stroke: gray;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.3s;
}

.tabIcon.active .tabItem {
  stroke: black;
}
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popupBox {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  min-width: 250px;
}

.popupTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

.popupContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popupIcon {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.popupIcon:hover {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 4px 8px;
}